services:
  postgres:
    image: postgres:17
    container_name: postgres-dev
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - 5432:5432
    volumes:
      - rumble-dev:/var/lib/postgresql/data

volumes:
  rumble-dev:
